services:
  web:
    build:
      context: .
    container_name: aerofinder-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/code
      - ./logs:/code/logs
    restart: unless-stopped
    depends_on:
      - redis  # ensure Redis starts before the web service

  redis:
    image: redis:7.2-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  redis_data:

