{% extends "base.html" %}
{% load i18n %}

{% block content %}
<p class="m_8538333114748624586body m_8538333114748624586body-lg m_8538333114748624586body-link-babu m_8538333114748624586light m_8538333114748624586text-left" style="
            padding: 0;
            margin: 0;
            font-family: 'SF Pro Display', Helvetica, Arial, sans-serif;
            font-weight: 300;
            color: #484848;
            font-size: 18px;
            line-height: 1.4;
            text-align: left;
            margin-bottom: 0px !important;
          ">
    {% autoescape off %}
        Hello {{ first_name }} {{ last_name }},
        <br/><br/>
        Your staff account has been created on {{ site_name }}.
        <br/><br/>
        <strong>Your login credentials are:</strong>
        <br/>
        <strong>Email:</strong> {{ email }}
        <br/>
        <strong>Password:</strong> {{ password }}
        <br/><br/>
        Please click the button below to activate your account and set a new password for security.
        <br/><br/>
    {% endautoescape %}
</p>

<p align="center">
    <a target="_blank" style="
              text-decoration: none;
              background-color: #2E62A6;
              border: #2E62A6 1px solid;
              color: #fff;
              padding: 10px 10px;
              display: block;
            " href="{{ activation_link }}">
        <strong>Activate Account</strong>
    </a>
</p>

<p class="m_8538333114748624586body m_8538333114748624586body-lg m_8538333114748624586body-link-babu m_8538333114748624586light m_8538333114748624586text-left" style="
            padding: 0;
            margin: 0;
            font-family: 'SF Pro Display', Helvetica, Arial, sans-serif;
            font-weight: 300;
            color: #484848;
            font-size: 18px;
            line-height: 1.4;
            text-align: left;
            margin-bottom: 0px !important;
          ">
    {% autoescape off %}
        <br/>
        <strong>Important:</strong> After activating your account, please change your password for security purposes.
        <br/><br/>
        If you did not request this account, please contact your administrator or ignore this email.
        <br/><br/>
    {% endautoescape %}
</p>

<p class="m_8538333114748624586body m_8538333114748624586body-lg m_8538333114748624586body-link-babu m_8538333114748624586light m_8538333114748624586text-left" style="
            padding: 0;
            margin: 0;
            font-family: 'SF Pro Display', Helvetica, Arial, sans-serif;
            font-weight: 300;
            color: #484848;
            font-size: 18px;
            line-height: 1.4;
            text-align: left;
            margin-bottom: 0px !important;
          ">
    &nbsp;
</p>

{% endblock %}

