{% extends "base.html" %}
{% load i18n %}

{% block content %}
<p class="m_8538333114748624586body m_8538333114748624586body-lg m_8538333114748624586body-link-babu m_8538333114748624586light m_8538333114748624586text-left" style="
            padding: 0;
            margin: 0;
            font-family: 'SF Pro Display', Helvetica, Arial, sans-serif;
            font-weight: 300;
            color: #484848;
            font-size: 18px;
            line-height: 1.4;
            text-align: left;
            margin-bottom: 0px !important;
          ">
    {% autoescape off %}
        Hello {{ sub_agent_first_name }} {{ sub_agent_last_name }},
        <br/><br/>
        Your sub-agent account has been created by <strong>{{ master_agent_name }}</strong>.
        <br/><br/>
        <strong>Your login credentials are:</strong>
        <br/>
        <strong>Email:</strong> {{ sub_agent_email }}
        <br/>
        <strong>Password:</strong> {{ password }}
        <br/><br/>
    {% endautoescape %}
</p>

<p align="center">
    <a target="_blank" style="
              text-decoration: none;
              background-color: #2E62A6;
              border: #2E62A6 1px solid;
              color: #fff;
              padding: 10px 10px;
              display: block;
            " href="{{ login_url }}">
        <strong>Login to Your Account</strong>
    </a>
</p>

<p class="m_8538333114748624586body m_8538333114748624586body-lg m_8538333114748624586body-link-babu m_8538333114748624586light m_8538333114748624586text-left" style="
            padding: 0;
            margin: 0;
            font-family: 'SF Pro Display', Helvetica, Arial, sans-serif;
            font-weight: 300;
            color: #484848;
            font-size: 18px;
            line-height: 1.4;
            text-align: left;
            margin-bottom: 0px !important;
          ">
    {% autoescape off %}
        <br/>
        <strong>Important:</strong> Please change your password after your first login for security purposes.
        <br/><br/>
        If you did not request this account, please contact your master agent or ignore this email.
    {% endautoescape %}
</p>

<p class="m_8538333114748624586body m_8538333114748624586body-lg m_8538333114748624586body-link-babu m_8538333114748624586light m_8538333114748624586text-left" style="
            padding: 0;
            margin: 0;
            font-family: 'SF Pro Display', Helvetica, Arial, sans-serif;
            font-weight: 300;
            color: #484848;
            font-size: 18px;
            line-height: 1.4;
            text-align: left;
            margin-bottom: 0px !important;
          ">
    &nbsp;
</p>

{% endblock %}

